<!-- FOOTER -->

<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__left">

        <div class="footer__logo">
          <a href="#">
            <img src="./img/logo.svg" alt="">
          </a>
        </div>

        <div class="footer__copy">Copyright © 2022. Все права защищены</div>

        <a href="#" class="footer__policy">Политика обработки персональных данных</a>

      </div>

      <div class="footer__right">
        <div class="footer__group">
          <div class="footer__name title-h4">Телефон</div>

          <a href="tel:8 (495) 540-55-17" class="footer__phone">8 (495) 540-55-17</a>
        </div>

        <div class="footer__group">
          <div class="footer__name title-h4">Почта</div>

          <a href="mailto:info@lmlogistic.ru" class="footer__email">info@lmlogistic.ru</a>
        </div>

        <div class="footer__group">
          <div class="footer__name title-h4">Мессенджеры</div>

          <div class="footer__social-list">
            <div class="footer__social-item">
              <a href="#">Whats App</a>
            </div>

            <div class="footer__social-item">
              <a href="#">Телеграмм</a>
            </div>

            <div class="footer__social-item">
              <a href="#">Viber</a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</footer>

<!-- // FOOTER -->

</div>


<script src="./js/swiper-bundle-8.1.5.js"></script>
<script src="./js/lightgallery.min.js"></script>
<script src="./js/lg-video.min.js"></script>
<script src="./js/inputmask.min.js"></script>
<script src="./js/script.js"></script>
</body>

</html>